@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* El CSS siguiente esta pensando primero para moviles y luego para 
   Escritiorio*/
*, ::before, ::after {      /*Esta regla se le aplica a todo la pagina web*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;     /*hace que todos los elementos su ancho total sea el ancho especificado por el usuario*/
    font-size: calc(0.5em + 1vh);   /*Hace que el tamaño de las fuentes sea responsive*/
}

/* El estilo base para moviles */
body {  /*Esta regla se le aplica a todo el body y le da color al fondo, a la letra, define una tipografia, el alineado del texto y el grosor del texto*/
    background-color: #112935;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
}

.header {       /*Esta regla se aplica solo al header y sus elementos y los hace ser flexibles y justifica el espaciado de los elementos a space-around*/
    display: flex;
    justify-content: space-around;  /*hace que todos los elementos tengan el mismo espacio entre los border y entre si*/
}

.src-only {     
    display: none;
}
                    /*a estas 2 reglas solo definen que el elemento no tengla display*/
.hide-mobile {
    display: none;
}

p{  /*Esta regla se le aplica a los elementos p en el body y define su tamaño de letra,el espacio del contenido y la altura de la linea*/
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
}

.logo {     /*define el ancho y el margen del logo*/
    width: 90px;
    margin: 1em;
}

.options {
    color: inherit; /*toma el color de su elemento padre*/
    text-decoration: none;  /*quita la decoracion al texto*/
    position: relative;     /*se aplica para poder aplicar el top y right*/
    top: 30%;   /*define distancia de la parte de arriba del contenido al borde*/
    right: 95%;     /*define la distancia desde el borde al lado derecho*/
    font-size: 1.5rem;  /*tamaño*/

    display: flex;      /*hacen responsive la clase .options*/
    flex-wrap: wrap;
    align-items: flex-start;

}
.options i:last-child {
    font-size: 1.6rem;  /*define el tamaño del ultimo hijo de i en la clase .options*/
}


/* Big area */
.big-hero img {
    width: 150px;   /*define el ancho de la imagen*/
}

.big-hero h2 {  /*se le aplica a todos los h2 dentro de la clase .big-hero*/
    font-size: 2em;     /*define el tamaño de la fuente,el grosor del texto,el espaciado del texto y el margen superior*/
    font-weight: 700;
    letter-spacing: 0.002em;
    margin-top: 1em ;
}

.big-hero p {   /*se le aplica a todos los elementos p dentro de .big-hero y define el color y el tamaño del texto*/
    font-size: 1em;;
    color: #D7DEE6;
}

/* Social links*/
.social-links{      /*se le aplica a toda la clase .social-links*/
    list-style: none;   /*quita el estilo de la lista*/
    padding: 0;     /*quita la distancia en el contenido*/
    margin-top: 3em;    /*coloca un margen superior de 3em*/
    display: flex;  /*hace que los elementos sean flexibles y que su direccion sea en filas y se centren los elementos*/
    flex-direction: row;
    justify-content: center;
}

.social-links li a{ /*define el color y quita la decoracion del texto*/
    color: #D7DEE6;
    text-decoration: none; 
    /*Quite el font-size y lo aplique en una regla mas especifica*/
}

.social-links li a i{
    margin-left: 20px;   /*Aplico el mismo margen del lado izquierdo y derecho para que la separacion*/
    margin-right: 20px;  /*entre botones FAB sea igual*/
    font-size: 6em;      /*Configuro el tamaño de los botones FAB a 6em*/                 
         
}

.big-hero .show-desktop{  /*Especificando que la regla se aplique solo a lo que contenga la clase .show-desktop dentro de la clase .big-hero*/  
    position: relative;   /*Modificando la posicion para aplicar el top a -30px para dar distancia vertical entre*/
    top:-30px;            /*los botones de FAB de github y twitter*/
    color: #0AC693;     
    font-size: 7em;       /*Tamaño del boton*/  
}

.green-area {
    background-color: #0AC693; 
    margin-top: 4em;   /*Aplicando un margen superior para dar distancia entre los botones y el area de los articulos*/
}

.post {     /*define la distancia del contenido a 1em y el margen inferior a -2px*/
    padding: 1em;
    margin-bottom: -2px;
}
.post h2 {  /*transforma el texto a mayusculas, define el grosor del texto,el tamaño del texto y el margin a 1em*/
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 1em;
}

.post ul {
    list-style: none;
    margin-right: 5%;  /*Aplicando margenes a la derecha e izquierda para que al ver la web desde movil aparezcan*/
    margin-left: 5%;   /*centrados los articulos*/ 
}

.post ul li {       /*define el tamaño minimo y maximo que puede tener los elementos y crea el margen a 2rem de anchos y un alto automatico*/
    min-height: 300px;
    max-width: 350px;
    margin: 2rem auto;
}

.post ul li article {
    overflow: hidden;   /*evita que se colapse el contenido*/
    border-radius: 10px;    /*redondea los bordes de la caja*/
    background-color: #ffffff;  /*define el color blanco*/
    text-align: left; /*alinea el texto a la izquierda*/
    padding-bottom: 2em;    /*define la distancia del contenido inferior a 2em*/
}

.post article img{  /*define alto,ancho y hace que la imagen se ajuste a su contenedor*/
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.post article h3 {  /*define el color, el margen inferior, la distancia del contenido al margen, el tamaño del texto*/
    color: #0D5061;
    margin-top: 2em;
    padding: 0em 1rem;
    font-size: 0.9em;
    white-space: nowrap;   /*reduce los espacios en balnco y evita saltos de linea*/ 
    overflow: hidden;   /*evita el colapse de los elementos*/
    text-overflow: ellipsis;
}

.post article p {   /*define color, tamaño del texto, distancia del contenido al margen y el alto de linea*/
    color:#112935;
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
}

/* About */

.about{
    margin-top: 2em;
    overflow: hidden;   /*Se aplico para que no se desbordara el contenido de la pagina*/
    margin-bottom: 4%;  /*Crea la distancia entre el footer y el contenido de esta seccion*/
}

.about .container{      /*Especificando que la regla se aplique solo en la clase .container que pertenezca a la clase .about*/
    display: flex;      /*Definiendo el tipo de display*/
    flex-direction: row;    /*Definiendo la direccion en la que ira el contenido para poder poner juntos el logo y la descripcion con el formulario*/
    flex-wrap: wrap;        /*haciendo que este container sea responsive*/
    justify-content: space-around;  /*justificando la distancia entre los contenidos del container*/

}

.about h2 { /*convierte el texto a mayusculas, define su grosor, y su tamaño del texto y crea un margen de 2em*/
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 2em;
}

.about h2{
    text-align: center; /*Centando el texto de la descripcion*/
    width: 100%;    /*Definiendo que el texto ocupe el 100% del tamaño asignado*/
}

.bio-info img{  /*coloca el ancho de la imagen de la clase .bio-info a 200px*/
    width: 200px;
}


.bio-info p{
    font-size: 16px; /*tamaño del texto*/
    padding: 2em;   /*distancia del contenido al borde*/
    text-align: left;   /*alinea el texto a la izquierda*/
    line-height: 25px;  /*altura de la linea*/
    letter-spacing: 2px;    /*espaciado del texto*/
}

.contact {
    display: flex;  /*hace flexibles lo elementos*/
    flex-direction: column; /*define la direcciona  columnas*/
    text-align: left;   /*alinea el texto a la izquierda*/
    padding: 0px 1em;   /*distancia del contenido del lado izquierdo al borde y del lado superior al borde*/
    width: 450px;  /*definiendo el tamaño del formulario*/
}



.contact * + * {
    margin-top: 1.5em; /*crea un margen de 1.5em*/
}

.contact-form { /*hace que los elementos del formulario sean flexibles y su direccion vaya en columnas*/
    display: flex;
    flex-direction: column;
}

.contact-form input, .contact-form textarea{/*define la distancia entre los contenidos y los bordes, redondea los bordes, define un tamaño de texto y define que ocupe el 100% del espacio asignado*/
    padding: 1rem 2rem;
    border: none;
    border-radius: 0px 2em;
    font-size: 1em;
    width: 100%;
}

/* Decorando placeholder */

::-webkit-input-placeholder { 
    color: #D7DEE6; /*define el color del texto del placeholder*/
} 
 
:-moz-placeholder { /* Firefox 18- */ color: #D7DEE6; } /*define el color del texto del placeholder para firefox 18*/
 
::-moz-placeholder { /* Firefox 19+ */ color: #D7DEE6; } /*define el color del texto del placeholder para firefox 19*/
 
:-ms-input-placeholder { color: #D7DEE6; } /*define el color del texto del placeholder para microsoft edge*/

.contact-form input[type=submit] {  /*define el color de fondo, el grosor del texto, el color del texto y el tamaño del texto del boton de summit del formulario*/
    background-color: #F74442;
    font-weight: 400;
    color: white;
    font-size: 1rem;
}

.black-decoration{
    background-image: url("../images/decoracion_oscura_small.svg");
}

footer{ /*define el color de fondo y el color del texto en el footer*/
    background-color: #0D5061;
    color:#D7DEE6;
}

footer .social-links {
    margin: 0;  /*define el margen entre los botones FAB pero solamente del footer*/
}

.menu li:hover a{  /*Esta regla se le aplica a los elementos a dentro de la li en la clase .menu*/
    color: red; /*color del hover al dar click con el mouse en el a*/
}

.menu { /*define el color de fondo, el tipo de posicionamiento, su distancia superior, su distancia derecha, su ancho y alto*/
    background-color: #112935;
    position: absolute;
    z-index: 20;
    top: 60px;
    right: 0;
    width: 100vw;
    height: calc(100vh - 60px);
}

.menu {
    list-style: none; /*quita el estilo a la lista*/
    text-align: left;   /*alinea el texto a la izquierda*/
    padding: 1em;   /*distancia del contenido hasta el borde*/
}
.menu li {
    display: block;     /*tipo de display de la lista*/
    padding: 0.5em;     /*distancia del contenido hasta el borde*/
    margin-top: 5px;    /*define el margen superior a 5px de tamaño*/
}

.menu li a{     
    color: white;   /*aplica color blanco a los elementos a dentro de la li en el .menu*/
    text-decoration: none;  /*quita la decoracion al texto*/
}




/* Pesonalizando estilo para tablets*/
@media only screen and (min-width: 768px) {
  
    .post ul {
        list-style: none; /*quita el estilo a la ul*/
        display: flex;  /*hace los elemento de la ul flexibles*/
        flex-wrap: wrap;    /*hace que el diseño sea responsive*/
        justify-content: center;    /*centra los elementos*/
        margin-left: 5%;    /*define el margen izquierdo a 5%*/
    }
    
    .post ul li {   /*define el ancho minimo y el alto maximo, el margen izquierdo y el superior, */
        min-height: 350px;
        max-height: 3500px;
        margin: 1rem 2rem;
        flex: 1 0 300px; /*hace flexible a estas dimensiones la lista*/
    }


    .logo { /*define el ancho y el margen de la imagen del logo*/
        width: 150px;
        margin: 1.5em;
    }

    .show-desktop {
        display: block; /*define el tipo de display a tipo en bloque*/
    }

    .hide-desktop {
        display: none; /*quita el display*/
    }

    .menu { /*define el color de fondo, el tipo de posicionamiento,su ancho y alto, su tipo de display y el margin superior a 1em*/
        background-color: #112935; 
        position: static;
        z-index: 20;
        width: auto;
        height:auto;
        display: flex;
        margin-top: 1em;
    }
    
    .big-hero .social-links li a i{     
        position: relative; /*poniendo la posicion como relative para poder asignar el top a los botones fab para */
        top:-20px;  /*crear una distancia entre el green area y los botones cuando se vea en una pantalla de min 768px de ancho*/
    }

    .bio-info{
        width: 525px;   /*Asignando el ancho de donde esta el logo y la descripcion para una pantalla de 768px de ancho*/
    }
} 

@media only screen and (min-width: 1024px) {

    .post ul{           /*Haciendo que el area de post sea responsive*/
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .post ul:last-child{    /*esta regla se aplica al ultimo hijo de la ul*/
        justify-content: left;  /*y coloca al ultimo hijo de la ul al lado izquierdo conservando el espaciado de los elementos*/
        margin-left: 5%;    /*Ajustando el margen izquierdo*/
    }

    .post article{
        width: auto;    /*poniendo que el tamaño de los articulos sea automatico segun el zoom*/
    }
}

@media only screen and (min-width: 1440px) {
    .container {    /*define el espacio que ocupara en pantalla, el margen y su ancho maximo*/
        width: 80%;
        margin: 0 auto;
        max-width: 1440px;
    }

    .post ul{       /*Haciendo que el area de post y la ul sean responsive*/
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
}